@import 'variables';


.card-wrapper {
  display: flex;
  background-color: white;
  color: $coolRed;
  height: 100%;
  margin: 5px;
  section {
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: -40px;
    margin: 40px;
    // text-align: center;
    li {
      list-style-type: none;
    }
  }

}

.incorrect {
  border: $bananaYellow solid 5px;
}

.correct {
  border: green solid 5px;
}